@use "@angular/material" as mat;

@use "./styles/themes/default";

@include mat.core();
@include mat.all-component-themes(default.$theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  table {
    border-collapse: separate;
  }
}

@layer components {
  // page
  .w-page {
    @apply box-border w-full max-w-7xl m-auto;
  }
  .page-header {
    @apply text-3xl my-4 sm:text-4xl;
  }

  // form
  .form-box {
    @apply grid gap-x-4;
  }
  .form-field-header {
    @apply block col-span-full text-xl mb-4;
  }

  // snack-bar
  mat-snack-bar-container > div {
    @apply border-0 border-l-6 border-solid border-gray-400;

    mat-icon {
      @apply text-gray-400;
    }
  }
  mat-snack-bar-container.success > div {
    @apply border-indigo-400;

    mat-icon {
      @apply text-indigo-400;
    }
  }
  mat-snack-bar-container.error > div {
    @apply border-red-400;

    mat-icon {
      @apply text-red-400;
    }
  }

  // table
  .table-box {
    @apply max-w-full overflow-auto;

    table {
      @apply w-full;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Noto Sans TC", sans-serif;
}

/* adjustments for @angular/material */
// button
.mat-icon-button {
  line-height: 1 !important;
}
a.mat-icon-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
